<form  {{action 'save' on='submit'}}>

clave {{input type='text' value=materia.clave}}
nombre{{input type='text' value=materia.nombre}}
<button type="button" {{action "saveGrupo"}}>Añadir grupo</button>

<table class="table table-hover table-sm table-bordered table-info">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Clave</th>
        <th scope="col">Materia</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {{#each materia.grupos as |g|}}
        <tr>
          <th>
            {{input value=g.identificador}}
          </th>
          <td>
            {{input type='text' value=g.periodo}}
          </td>
          <td>
            <!-- {{#link-to "materia-detail" materia.id }}
              <button class="btn btn-success btn-sm ">Detalles</button>
            {{/link-to}}  -->
            <button class="btn btn-danger btn-sm "{{action 'destroyGrupo'}}>Borrar</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
</table>

<button class="btn btn-info">Guardar</button>
<hr>


</form>
